<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="css/app.css">

	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src="bower_components/angular-cookies/angular-cookies.js"></script>
	<script type="text/javascript" src="custom_module_admin/js/app.js"></script>

</head>
<body ng-app='adminModule'>
	<header>
	</header>


	<main ng-controller='authCtrl'>
<!-- LOGIN -->
		<div id="login-admin" ng-show="display.login">
			<form>
				<label for="username">FELHASZNLÓ</label>
				<input type="text" ng-model="username" id="username" placeholder="FELHASZNÁLÓ" />
				<label for="password">JELSZÓ</label>
				<input type="password" ng-model="password" id="passsword" placeholder="JELSZÓ" />
				<input type="submit" value="BEJELENTKEZÉS" ng-click="login(username, password)"/>
			</form>
		</div>
		<div ng-show="display.content">
			<p>content</p>
			<button ng-click="logout()">REMOVE COOKIE</button>
		</div>

	</main>



</body>
</html>