[id^='content-']{
	padding: $separator-height 0;

	p {
		padding: $content-padding;
	}

}

.table {
	display: table;
}

.table-cell {
	display: table-cell;
}

.content-padding {
	padding-bottom: $content-padding;
}

.text-align-center {
	text-align: center;
}

#content-intro,
#content-aboutus,
#content-services,
#content-vehicles,
#content-customers,
#content-contact,
#content-news,
#content-admin {
	height: 100%;
	margin: 0 auto;

}

#content-intro {
	width: 100%;
}

#content-aboutus,
#content-services,
#content-vehicles,
#content-customers,
#content-contact,
#content-news,
#content-admin {
	width: 90%;
}

#content-intro {
	background-image: url("../img/index-photo.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;

}

#content-aboutus{

		img {
			width: 40%;
			max-width: 40%;
			border-radius: 100%;
			display: block;
			margin: 0px auto;
		}
}

#content-vehicles {

		img {
			width: 80%;
			max-width: 80%;
			border-radius: $content-padding / 2;
			display: block;
			margin: 0px auto;
		}

}

#content-customers {

		div {
			text-align: center;
		}

		img {
			width: auto;
			max-width: 30%;
			border-radius: $content-padding / 2;
			display: block;
			margin: 0px auto;
		}
		
}

#content-news {

	.postsMenu-mobile {
		display: block;
		margin: 0 auto;
		width: 100%;
		padding: $content-padding / 2;
		font-weight: bold;
	}

	.postsMenu-desktop {
		display: none;
		padding: $content-padding;

		&::after {
			content: "";
			display: block;
			clear: both;
		}

		li {
			float: left;
			font-size: $base-font-size * 2;
			font-weight: bold;
			color: $post-menu-text-color;
			background-color: $post-menu-background-color;
			padding: ($content-padding / 2) $content-padding;
			margin-right: $content-padding / 2;
			border-radius: $content-padding / 2;
			cursor: pointer;
			transition: all 0.5s;

			&:hover {
				background-color: $post-menu-background-color-trans;
			}
		}

		.selected {
			background-color: $post-menu-background-color-trans;
		}

	}

	.post-title {
		font-size: $base-font-size * 2;
	}
		
}

@media (min-width: $media-breakpoint-medium) {

	.table-cell {
		vertical-align: middle;
	}

	#content-aboutus,
	#content-services,
	#content-vehicles,
	#content-news,
	#content-admin {
		width: 80%;
	}

	#content-contact {
		width: 60%;
	}

	#content-aboutus{

		img {
    		width: 100%;
    		max-width: 100%;
		}
	}


	#content-vehicles {

		img {
			width: 70%;
			max-width: 70%;
		}
	}


	#content-news {

		.postsMenu-mobile {
			display: none;
		}

		.postsMenu-desktop {
			display: block;
		}
			
	}

}
