/************************************************************************
BASIC LAYOUT (MOBILE-FIRST)
************************************************************************/

html,
body {
	height: 100%;
}

header,
main,
nav {
	width: 100%;
}

header {
	height: 5%;
}

main {
	height: 95%;
}

nav {
	height: 80%;
	position: fixed;
	bottom: 0;
}

main,
nav {
	transition: all 0.5s;
}

/************************************************************************
COLLAPSE-NAV CLASSES
************************************************************************/

.mainExtend{
	height: 95%;
}

.navCollapse{
	height: 0%;
}

/************************************************************************
MEDIA QUERY
************************************************************************/

@media (min-width: $media-breakpoint-medium) {
	main {
		height: 65%;
	}

	nav {
		height: 30%;
		bottom: 0%;
	}

}

