<div id="textEditorContainer">
	<div id="textEditorFunctions" class="row">
		<div class="col-1-6">
			<div class="functionButton" id="functionButton-bold">
				<img src="img/svg-bold-2.svg">
			</div>
		</div>
		<div class="col-1-6">
			<div class="functionButton" id="functionButton-italic">
				<img src="img/svg-italic.svg">
			</div>
		</div>
		<div class="col-1-6">
			<div class="functionButton" id="functionButton-underline">
				<img src="img/svg-underline.svg">
			</div>
		</div>
		<div class="col-1-6">
			<div class="functionButton" id="functionButton-justifyLeft">
				<img src="img/svg-align-left.svg">
			</div>
		</div>
		<div class="col-1-6">
			<div class="functionButton" id="functionButton-justifyCenter">
				<img src="img/svg-align-center.svg">
			</div>
		</div>
		<div class="col-1-6">
			<div class="functionButton" id="functionButton-justifyRight">
				<img src="img/svg-align-right.svg">
			</div>
		</div>
		<div class="col-3-6">
			<select class="functionSelect" id="functionSelect-fontname">
				<option selected disabled>Betűtípus</option>
				<option>Arial</option>
				<option>Calibri</option>
				<option>Times New Roman</option>
			</select>
		</div>
		<div class="col-3-6">
			<select class="functionSelect" id="functionSelect-fontSize">
				<option selected disabled>Betűméret</option>
				<option value="1">10px</option>
				<option value="2">13px</option>
				<option value="3">16px</option>
				<option value="4">18px</option>
				<option value="5">24px</option>
				<option value="6">32px</option>
				<option value="7">48px</option>
			</select>
		</div>

	</div>

	<div id="textEditorHeader" class="row">
		<div class="col-6-6">Bejegyzés címe</div>
		<div class="col-6-6">
			<input class="functionInput" type="text" ng-model="post.post_title">
		</div>

		<div class="col-3-6">Bejegyzés dátuma</div>
		<div class="col-3-6">
			<input class="functionInput" type="date" ng-model="post.post_date">
		</div>
		<div class="col-3-6">Bejegyzés státusza</div>
		<div class="col3-6">
			{{post.post_status}}
		</div>
	</div>

	<div id="textEditorContent" contenteditable="true" class="col-6-6">
		<div style="text-align: center;"><font face="null">Ide írd a szöveget...</font></div>
	</div>

	<div id="textEditorDatabase" class="row">
		<div class="col-3-6">
			<button ng-click="saveIntoDatabase('active')">PUBLIKÁL</button>
		</div>
		<div class="col-3-6">
			<button ng-click="saveIntoDatabase('draft')">VÁZLAT</button>
		</div>
	</div>
</div>